@use "../../../styles/vars";
@use "../../../styles/helpers/functions";

.checkbox {
    display: inline-flex;
    width: fit-content;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    line-height: 140%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        appearance: none;
    }

    &__text {
        line-height: 1;
        text-align: left;
        transition: 0.3s ease;
        @include vars.font-18();
    }

    &__elem {
        position: relative;
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-color: transparent;
        display: inline-block;
        margin-right: functions.rem_(10);
        border: 2px solid var(--accent-13);
        border-radius: 4px;
        transition: 0.3s ease;

        &::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 10px;
            height: 9px;
            transition: 0.5s cubic-bezier(0.08, 0.82, 0.17, 1);
            opacity: 0;
            background-size: 13px;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(90deg);
            background: transparent;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjY3Ni4yNjNhMSAxIDAgMDEuMDYgMS40MTNsLTYuNDI4IDdhMSAxIDAgMDEtMS40MzYuMDM4TC4zIDUuMjE0YTEgMSAwIDAxMS40LTEuNDI4bDIuODM0IDIuNzc3IDUuNzMtNi4yNGExIDEgMCAwMTEuNDEyLS4wNnoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    & input {

        @keyframes err-pulse {
            0% {
                transform: scale(1) rotate(0);
            }

            25% {
                transform: scale(1.05) rotate(22deg);
            }

            75% {
                transform: scale(1.05) rotate(-22deg);
            }

            100% {
                transform: scale(1) rotate(0);
            }
        }

        &.err {
            &~.checkbox__elem {
                border-color: #f00;
                background-color: #ff000014;
                animation: err-pulse 1s 2;
            }
        }


        &:checked~.checkbox__elem {
            z-index: 2;
            background-color: var(--accent);
            border-color: var(--accent);
            @include vars.hover {
                border-color: var(--accent-11);
                background-color: var(--accent-11);

                &:after {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgMUgxMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=);
                }
            }
        }


        &:checked~.checkbox__elem:after {
            opacity: 1;
            border-radius: 0;
            transform: rotate(0);
        }
    }

    &:hover {
        @media (any-hover: hover) {
            & .checkbox {
                &__elem {
                    border-color: var(--accent-11);
                }

                &__text {
                    @media screen and (min-width: vars.$w576) {
                        color: var(--accent-11);
                    }

                }
            }
        }
    }
}



/* radio */

.radio {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 140%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: flex-start;

    &__title,
    &__desc {
        display: block;
    }

    &__title {
        color: #000;
        font-size: 14px;
    }

    &__desc {
        font-size: 12px;
        color: #959595;
    }

    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        display: none;
    }

    &__text {
        line-height: 140%;
        font-size: 15px;
        color: #222;
        font-weight: 500;
        padding-top: 1px;
        transition: 0.3s ease;
    }

    &__elem {
        top: functions.rem_(1);
        position: relative;
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-color: transparent;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        transition: 0.15s linear;
        border: 1px solid #2F3030;

        &::after {
            content: '';
            width: 12px;
            height: 12px;
            background-color: transparent;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: calc(50% - 6px);
            top: calc(50% - 6px);
            transition: 0.3s ease;
            transform: scale(0);
        }
    }

    & input {
        &:hover~.radio__elem {
            border-color: var(--accent);
        }

        &:checked~.radio__elem {

            background-color: #fff;

            &::after {
                content: '';
                transform: scale(1);
                background-color: var(--accent);

            }

            &:hover {
                border-color: var(--accent);
            }
        }

    }

    &:hover {
        & .radio {
            &__elem {
                border-color: var(--accent);
            }

            &__text {
                color: var(--accent);

            }
        }
    }

}



.toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;

    @media screen and (min-width: vars.$w992) {
        font-size: 14px;
    }




    & div {
        display: flex;
        align-items: center;

        & .toggle-slide {
            width: 48px;
            height: 24px;
            display: inline-block;
            background: vars.$gray-80;
            border-radius: 50px 50px;
            position: relative;
            margin-right: functions.rem_(10);
            transition: 0.3s ease;

            &:hover {
                background: #ADADAD;
            }

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                left: 4px;
                top: 4px;
                display: block;
                transition: 0.3s ease;

            }
        }
    }

    & input {
        display: none;

        &:checked~div .toggle-slide {
            background: vars.$accent-1-1;

            &:hover {
                background: vars.$accent-1-2;
            }


            &::before {
                left: calc(100% - 20px);

            }
        }

    }

    & .toggle-active {
        display: none;
    }

    & input:checked~div .toggle-active {
        display: block;


    }

    & input:checked~div .toggle-deactive {
        display: none;
        color: vars.$gray-22;

    }
}
