@use "variables";

@mixin font-h1() {
    font-size: 32px;
    font-weight: 400;
    line-height: 125%;
}

@mixin font-h2() {
    font-size: 28px;
    font-weight: 400;
    line-height: 141%;

    @media screen and (min-width: variables.$w1440) {
        font-size: 48px;
    }

    @media screen and (min-width: variables.$w992) {
        font-size: 36px;
        line-height: 112%;
    }

    @media screen and (min-width: variables.$w576) {
        font-size: 28px;
    }
}

@mixin font-h3() {
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
}

@mixin font-h4() {
    font-size: 18px;
    line-height: 133%;
    font-weight: 700;

    @media screen and (min-width: variables.$w760) {
        font-size: 24px;
    }
}

@mixin font-h5() {}

@mixin font-14 {
    font-size: 14px;
    line-height: 142%;
}

@mixin font-16 {
    font-size: 16px;
    line-height: 150%;
}

@mixin font-18 {

    & {
        font-size: 16px;
        line-height: 155%;
        font-weight: 600;
    }

    @media screen and (min-width: variables.$w1376) {
        font-size: 18px;
    }


}

@mixin font-20 {
    font-size: 20px;
    line-height: 160%;
    font-weight: 600;
}
