@use "sass:map";

$main: var(--accent);
$accent-1-1: $main;
$accent-1-2: $main;

//old
$accent-2-3: $main;
$accent-2-1: $main;
$violet-1-1: $main;

$gray-96: #f5f5f5;
$gray-97: #F7F7F7;
$gray-92: #ebebeb;
$gray-80: #ccc;
$gray-56: #8f8f8f;
$gray-22: #222222;
$gray-20: #333333;
$gray-36: #5B5B5B;
$gray-64: #A3A3A3;
$gray-88: #E0E0E0;
$black: #222B32;
$blue: #367fbd;
$green: #37A735;
$red: #DF1F26;
$orange: #EB7D00;
$green-dark: #1EBC61;
$green-light: #1EBC61;


$color-white: rgba(255, 255, 255, 1);
$color-text-1: rgba(17, 17, 17, 1);
$color-text-2: rgba(118, 136, 173, 1);
$color-accent-1: rgba(1, 175, 210, 1);
$color-accent-2: rgba(0, 68, 204, 1);
$color-bg-1: rgba(247, 247, 247, 1);
$color-bg-2: rgba(240, 250, 252, 1);
$color-bg-3: rgba(245, 248, 255, 1);
$color-bg-4: rgba(222, 247, 252, 1);
$color-bg-5: rgba(229, 238, 255, 1);
$color-bg-6: rgba(0, 26, 77, 1);
$color-bg-7: rgba(0, 20, 61, 1);
$color-borders-1: rgba(224, 224, 224, 1);
$color-borders-2: rgba(211, 235, 240, 1);
$color-borders-3: rgba(215, 225, 245, 1);
$color-borders-4: rgba(34, 64, 122, 1);
$color-green-1: rgba(0, 184, 122, 1);
$color-bg-green-1: rgba(240, 255, 250, 1);
$color-accent-11: #00403f;
$color-accent-13: #E8EAEB;

$font-default-strict: "Forma DJR Cyrillic";
$font-default: $font-default-strict,'Tahoma','Arial',sans-serif;
$font-captions-strict: "Guardian Egyptian LCG";
$font-captions: $font-captions-strict,serif;

/* media breakpoints */

$w1660: 1660px;
$w1510: 1510.98px;
$w1440: 1440.98px;
$w1376: 1376px;
$w1200: 1200px;
$w1100: 1100px;
$w1024: 1025px;
$w991: 991.98px;
$w992: 992.98px;
$w760: 767px;
$w680: 679px;
$w576: 576px;
$w480: 480px;
$w375: 375.98px;
$w360: 360.98px;

$z-modal: 10;
$z-map-controls: 7;
$z-map-list: 8;
$z-header: 4000;

/* popular breakpoints and mixin for applying */
$breakpoints: (
    xs: $w375,
    sm: $w576,
    md: $w760,
    lg: $w992,
    xl: $w1200,
    xxl: $w1660
);

@mixin from($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);
    @media screen and (min-width: $breakpoint-value + 1) {
      @content;
    }
  }
  @else {
    @warn "Invalid breakpoint: #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}.";
  }
}

@mixin before($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map.get($breakpoints, $breakpoint);
        @media screen and (max-width: $breakpoint-value) {
            @content;
        }
    }
    @else {
        @warn "Invalid breakpoint: #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}.";
    }
}

@mixin hover() {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }
}
