@use 'vars'as vars;

.sectionOptomInfo {
    padding-bottom: 50px;
    @media screen and (min-width: vars.$w760) {
        padding-bottom: 100px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 24px;
        @media screen and (min-width: vars.$w760) {
            flex-direction: row;
        }
    }
    &__item{
        background: var(--bg-02);
        border: 6px solid var(--accent-01);
        border-radius: 24px;
        padding: 16px;
        width: 100%;
        @media screen and (min-width: vars.$w760) {
            padding: 24px;
        }
        &_title{
            @include vars.font-h4;
            padding-bottom: 12px;
            text-align: center;
        }
        &_content{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 8px;
            .item{
                text-align: center;
                &__text{
                    @include vars.font-14;
                    color: var(--accent-04);
                }
                a{
                    display: block;
                    @include vars.font-h4;
                    padding: 3px 0;
                }
            }
        }
        &_infoMsgr{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            padding-top: 16px;
            & .bgimage {
                @include vars.bgimage-contain;
                width: 36px;
                min-width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: var(--accent-02);
                transition: 0.4s ease;
            }
        }
    }

}
