@use 'vars'as vars;

.section-tile-category {
    padding: 50px 0;

    @media screen and (min-width: vars.$w1440) {
        padding: 86px 0 40px 0;
    }
}

.card-category {
    background-color: var(--bg-02);
    border-radius: 20px;
    padding: 18px 20px;
    height: 100%;
    display: block;
    transition: 0.3s ease;
    &:hover{
        background-color: var(--accent-02);
        .card-category__title {
            transition: 0.4s all;
            color: var(--accent-01);

        }
        .card-category__icon {
            & svg {
                fill: var(--accent-01);;
            }
        }
        .card-category__content{
            &_desc {
                color: var(--white);
                transition: 0.4s all;
            }
            &_text{
                height: auto;
                z-index: 1;
                opacity: 1;
                padding-top: 24px;
                transform: translateY(0);
            }
        }
    }

    @media screen and (min-width: vars.$w1440) {
        padding: 32px;
        min-height: 240px;
    }

    &__title {
        @include vars.font-h4;
        color: var(--accent-02);
        transition: 0.3s ease;
        @media screen and (min-width: vars.$w760) {
            padding-bottom: 8px;
        }
    }

    &__icon {
        position: relative;
        bottom: -2px;
        align-self: flex-end;
        @media screen and (min-width: vars.$w760) {
            bottom: -10px;
        }
        @media screen and (min-width: vars.$w1440) {
            bottom: -31px;
        }

        & svg {
            transform: scale(1.4);
            transition: 0.4s all;
            width: 82px;
            height: 72px;
            fill: var(--accent-02);
            @media screen and (min-width: vars.$w760) {
                width: 112px;
                height: 102px;
                transform: scale(1);
            }
            @media screen and (min-width: vars.$w1440) {
                width: 160px;
                height: 140px;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 12px;
    }
    &__content{
        max-width: 170px;
        @media screen and (min-width: vars.$w760) {
            max-width: 190px;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_desc {
            color: var(--accent-02);
            margin-top: auto;
            font-size: 13px;
            line-height: 158%;
            transition: 0.4s all;
        }
        &_text{
            @media screen and (min-width: vars.$w760) {
                display: flex;
            }
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            height: 0;
            z-index: -1;
            opacity: 0;
            overflow: hidden;
            padding-top: 0;
            transform: translateY(16px);
            position: relative;
            white-space: nowrap;
            font: 600 20px/32px var(--font-wix);
            color: var(--accent-01);
            display: none;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            max-width: 132px;
            padding-bottom: 2px;
            svg{
                width: 12px;
                height: 18px;
                position: relative;
                z-index: 1;
                fill: var(--accent-01);;

            }
            &:before{
                transition: 0.3s ease;
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 8px;
                background-color: var(--border-01);
                left: 0;
                bottom: 0;
                z-index: 0;
                position: absolute;
            }
        }
    }


}

.tile-category {

    &__title {
        padding-bottom: 24px;

        @media screen and (min-width: vars.$w1440) {
            padding-bottom: 42px;
        }

        & h2 {
            @include vars.font-h2;
        }
    }

    &__list {
        margin: -4px;
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;

    }

    &__item {
        padding: 4px;
        flex-basis: 280px;
        flex-grow: 1;
    }

    &__all {

        @media screen and (min-width: vars.$w992) {
            display: none;
        }

        & a {
            width: 100%;
            position: relative;
            white-space: nowrap;
            font: 600 20px/32px var(--font-wix);
            color: var(--accent-02);
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            padding: 4px;
            & span, svg{
                z-index: 1;
            }
            svg{
                width: 10px;
                height: 16px;
                position: relative;
                z-index: 1;
                fill: var(--accent-02);;

            }
            &:before{
                transition: 0.3s ease;
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 8px;
                background-color: var(--border-01);
                left: 0;
                bottom: 0;
                z-index: 0;
                position: absolute;
            }
            &:hover {
                padding: 4px 18px;
                color: var(--accent-03);
                svg{
                    fill: var(--accent-03);
                }
                &:before{
                    height: 100%;
                }
            }
        }

        & .btn {
            width: 100%;
        }
    }

    &__head {

        @media screen and (min-width: vars.$w992) {
            display: flex;
            align-items: center;
        }

        & .tile-category {
            &__all {
                display: none;
                margin-left: auto;

                @media screen and (min-width: vars.$w760) {
                    display: block;
                }

                & a {
                    color: var(--accent-02);
                    font-weight: 600;
                    font-size: 20px;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    line-height: 110%;

                }

                & svg {
                    fill: var(--accent-02);
                    width: 10px;
                    margin-bottom: -3px;
                }
            }
        }
    }
}
