@use "vars"as vars;

.scroll{
    .header__menu{
        &.open{
            padding-bottom: 0;
        }
    }
}

.header__menu{
    z-index: 11;
    position: relative;
    transition: all 0.3s ease;
    max-height: 0;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    opacity: 0;
    &.open{
        opacity: 1;
        padding-top: 12px;
        padding-bottom: 20px;
        max-height: 1100px;
    }

    &_tabs{
        padding: 10px;
        border: 2px solid var(--border-01);
        border-radius: 24px;
        width: 340px;
        @media screen and (min-width: vars.$w1200) {
            width: 400px;
        }
        .tab{
            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            width: 100%;
            height: 48px;
            gap: 12px;
            background: var(--white);
            color: var(--accent-02);
            font: 600 18px/28px var(--font-wix);
            border-radius: 16px;
            padding: 8px 20px;
            margin: 4px 0;
            transition: all 0.3s ease;
            @media (min-width: 1026px) {
                &:hover {
                    background: var(--accent-02);
                    color: var(--accent-01);
                    & svg{
                        fill: var(--accent-01);
                    }
                }
            }
            & svg{
                width: 28px;
                height: 28px;
                fill: var(--accent-03);
            }
            &.active{
                background: var(--accent-02);
                transition: all 0.3s ease;
                color: var(--accent-01);
                & svg{
                    fill: var(--accent-01);
                }
                @media (min-width: 1026px) {
                    &:hover {
                        background: var(--accent-02);
                    }
                }
            }
        }
    }
    &_content{
        flex: 1;
        padding: 16px 16px 0 16px;
        border: 2px solid var(--border-01);
        border-radius: 24px;
        transition: all 0.3s ease;
        @media screen and (min-width: vars.$w1200) {
            padding: 16px 22px 8px 22px;
        }
        .tabPanel{
            display: none;
            opacity: 0;
            transition: all 0.3s ease;
            column-count: 3;
            column-gap: 16px;
            column-fill: balance;
            .items{
                break-inside: avoid;
                display: inline-block;
                width: 100%;
                padding-bottom: 8px;
                @media screen and (min-width: vars.$w1200) {
                    padding-bottom: 16px;
                }
                .item{
                    cursor: pointer;
                    width: 100%;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 8px;
                    font-size: 14px;
                    line-height: 22px;
                    margin: 4px 0;
                    border-radius: 12px;
                    transition: all 0.3s ease;
                    color: var(--accent-02);
                    @media screen and (min-width: vars.$w1200) {
                        padding: 8px 16px;
                        font-size: 16px;
                    }
                    &:hover {
                        background: var(--bg-02);
                        color: var(--accent-03);
                    }
                    &:first-child{
                        border-radius: 16px;
                        font-size: 16px;
                        font-weight: bold;
                        min-height: 48px;
                        @media screen and (min-width: vars.$w1200) {
                            font-size: 18px;
                        }
                        &:hover{
                            background: var(--accent-02);
                            color: var(--accent-01);
                        }
                    }
                }

            }
            &.active{
                display: block;
                opacity: 1;
            }
        }
    }
}
