@use "vars"as vars;

.header-nav {

    @media screen and (max-width: vars.$w1024) {
        display: none;
    }

    & {
        display: flex;
        gap: 12px;
    }

    &__catalog {
        & .btn {
            font-weight: 600;
            font-size: 18px;

            @media screen and (min-width: vars.$w1200) {
                height: 64px;
            }

            & svg {
                &:first-child {
                    margin-right: 0.8em;
                }
            }
        }
    }

    &__menu {

        display: flex;
        align-items: stretch;
        border: 2px solid var(--border-01);
        border-radius: 16px;
        width: 100%;
        padding: 6px;

        & nav {
            display: flex;
            align-items: stretch;
            width: 100%;
        }

        & ul {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 8px;

            & li {
                flex-grow: 1;
                text-align: center;

                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & a {
                color: var(--accent-02);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                padding: 0 12px;
                transition: 0.3s ease;
                @include vars.font-18;

                &:hover {
                    background-color: var(--bg-02);
                    color: var(--accent-03);
                }
            }
        }
    }
}
