@use 'vars'as vars;

.story-card {
    &__preview {

        position: relative;

        &::before {

            position: absolute;
            top: 20px;
            left: 25px;
            z-index: 2;
            content: '';
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjQzOCA1LjM0NmMyLjA4MiAxLjE1NyAyLjA4MiA0LjE1MSAwIDUuMzA4bC04LjkyOCA0Ljk2QzIuNDg3IDE2LjczOCAwIDE1LjI3NCAwIDEyLjk2VjMuMDRDMCAuNzI1IDIuNDg3LS43MzggNC41MS4zODZsOC45MjggNC45NnoiIGZpbGw9IiNBRUVCNjciLz48L3N2Zz4=);
            width: 18px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            filter: brightness(200);

        }

        & picture {
            @include vars.picture(100%, cover);

            overflow: hidden;
            box-sizing: border-box;

            & img {
                border: 4px solid var(--bg-02);
                border-radius: 32px;
                transition: border 0.3s ease;
                cursor: pointer;
            }
        }
    }

    &__title {
        color: var(--accent-02);
        font-weight: 600;

        @include vars.font-14;
        text-align: center;
        font-weight: 600;
        @include vars.line-clamp(3);
    }

    &:hover {
        & .story-card {
            &__preview {

                &::before {
                    filter: brightness(1);
                }

                & img {
                    border-color: var(--accent-02);
                }
            }

            &__title {
                color: var(--accent-03);
            }
        }
    }
}

.stories-block {
    & .splide {
        max-width: calc(100% - 140px);
        margin: 0 auto;

        &__arrow {
            &--prev {
                left: -70px;
            }

            &--next {
                right: -70px;
            }
        }
    }
}
