@use "../../styles/vars";

.city-map {
    height: calc(100vh - var(--hgt-header));
    position: relative;

    &__controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 12px;
        background: white;
        display: flex;
        gap: 8px;
        z-index: vars.$z-map-controls;

        @include vars.before('md') {
            &>* {
                flex: 1 1 50%;
            }

            .btn {
                font-size: 16px;
                height: 52px;

                span {
                    line-height: 24px;
                    top: 1px;
                }
            }
        }

        @include vars.from('md') {
            left: auto;
            bottom: auto;
            top: 20px;
            right: 20px;
            padding: 8px;
            background: #fff;
            border-radius: 16px;
        }

        @include vars.from('xl') {
            flex-direction: column;
            max-width: 450px;
        }

        @include vars.from('xxl') {
            flex-direction: row;
            max-width: none;
        }

        .btn.active {
            pointer-events: none;
        }
    }

    &__filters {
        display: none;

        &.sm-modal {
            display: block;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: var(--hgt-header);
            z-index: 15;
        }
    }

    &__list {
        position: fixed;
        top: var(--hgt-header);
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: .3s;
        background: #000B;
        z-index: vars.$z-map-list;
        padding-top: 16px;
        backdrop-filter: blur(10px);

        @include vars.from('xl') {
            top: 0;
            position: absolute;
            max-width: 720px;
            backdrop-filter: none;
            padding-top: 0;
            --container-padding: 24px;
        }

        &.open {
            transform: translateX(0);
        }

        .container {
            background: var(--accent-12);
            padding-block: 16px;
            border-radius: 16px 16px 0 0;
            min-height: 100%;
            display: flex;
            flex-direction: column;

            @include vars.from('xl') {
                border-radius: 0;
                padding-block: 24px;
            }
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            @include vars.from('md') {
                margin-bottom: 32px;
            }

            h4 {
                font: 400 24px/36px vars.$font-captions;

                @include vars.from('md') {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
        }
    }

    .loader-wrapper {
        z-index: 5;
        background: #ffffff80;

        &.hidden {
            display: none;
        }
    }

}

#city-map {
    width: 100%;
    height: 100%;
}

#city-map-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    flex-grow: 1;
}

.map-point {

    background: white;
    border: 4px solid var(--accent-11);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: .3s;

    &:hover,
    &.active {
        border-color: var(--accent);
    }

    &.single {
        width: 32px;
        height: 32px;
    }

    &.cluster {
        &.small {
            width: 52px;
            height: 52px;
            border-width: 6px;
        }

        &.large {
            width: 60px;
            height: 60px;
            border-width: 8px;
        }
    }
}

.ymaps3x0--button.ymaps3x0--control-button {
    @media (any-hover: hover) {
        &:hover {
            background: var(--accent-14)
        }
    }

    &[disabled],
    &.disabled {
        pointer-events: none;
    }
}
