@use "../../styles/vars";

.company {
    .page-title {
        h1 {
            font-size: clamp(32px, 5vw, 64px);
            margin-top: 24px;
        }
    }

    &__services {
        background: var(--bg);
        padding-block: 48px 32px;
        @include vars.from('lg') {
            padding-block: 96px 48px;
        }
        h2 {
            margin-top: 4px;
            margin-bottom: 26px;
        }

        .subtitle {
            font: 400 clamp(14px, 2vw ,20px)/1.6 vars.$font-default;
            letter-spacing: .02em;
            max-width: 1000px;
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            margin-top: 48px;
            margin-bottom: 48px;
            @include vars.from('md') {
                grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            }
        }
    }

    .partners {
        padding-block: 32px;
        background: var(--bg);
        @include vars.from('lg') {
            padding-block: 48px;
        }
        h3 {
            line-height: 1.3;
        }
    }

    &__partners {
        margin-top: 24px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        @include vars.from('md') {
            margin-top: 48px;
            gap: 32px;
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }

        .partner {
            background: #e8ebeb;
            border-radius: 16px;
            aspect-ratio: 47 / 30;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__awards {
        background: var(--bg);
        padding-top: 48px;
        padding-bottom: 96px;
    }
}
