@use "../../styles/vars";

.country-places {
    .section-form-question {
        border-bottom: 1px solid var(--accent-14);
        padding-bottom: 32px;

        @include vars.from('md') {
            padding-bottom: 96px;
        }
    }
}
