@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Medium.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Bold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-ExtraBold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Regular.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-SemiBold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}