@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Medium.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Bold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-MediumItalic.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-ExtraBold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Italic.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-BoldItalic.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-Regular.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wix Madefor Text';
    src: url('/fonts/subset-WixMadeforText-SemiBold.woff2') format('woff2'),
        url('/fonts/subset-WixMadeforText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

