mixin seotext-block
    section.section-seotext-block
        .container
            .seotext-block
                .seotext-block__title
                .seotext-block__text
                    .formated-text
                        p «Зеленый рай» открылся 22 года назад и сейчас является крупнейшим питомником растений в Беларуси. На территории хозяйства располагаются саженцы в контейнерах и грунтовые растения общей площадью 50 Га.
                        p Наш питомник саженцев в Беларуси насчитывает огромное количество декоративных растений, которыми можно украсить не только собственный сад, но и озеленить общественные и парковые территории, украсить санитарно-оздоровительные и развлекательные учреждения, предприятия, спортивные объекты. Кроме этого, мы предлагаем наши саженцы тем, кто занимается продажами посредством садового центра, через интернет-магазин в г. Минск и любой другой локации на территории Республики Беларусь.
                        p Вы будете приятно удивлены разнообразием аллейных деревьев и привитых форм, туй, елей, можжевельников, кизильников, лапчаток, барбарисов, ниваки, бонсай и других не менее прекрасных культур. Укорененные декоративные растения предлагаются исключительно в закрытых тарах, защищающих корни от повреждений.
                        p Продаем саженцы оптом и в розницу для посадки в любое время года с помощью: — спецтехнологии разведения в закрытых тарах; — особой среды с содержанием полезных веществ.

                        p Нашими клиентами являются люди из различных сфер деятельности, таких как озеленение, строительство, коммунальное хозяйство и ландшафтный дизайн.
                        p Как оформить заказ Если вы хотите купить растения оптом или в розницу, загляните к нам в питомник, и вы убедитесь, что мы представляем только высококачественный посадочный материал.
                        p При необходимости мы доставляем саженцы из Белоруссии в Россию. Первым делом проводим тщательный осмотр. Каждый листик, каждая веточка должны быть в идеальном состоянии. Продажа саженцев в Беларуси для экспорта начинается задолго до самой отправки. Мы применяем метод предварительной подготовки растений. За несколько недель до выкопки они подвергаются специальной обработке. Мы постепенно снижаем полив и вносим калийные удобрения. Это повышает концентрацию клеточного сока и делает растения более устойчивыми к стрессу при транспортировке.
                        p Выкопка производится оборудованием с активной вибрацией. Это позволяет сохранить максимальное количество мелких корней, критически важных для приживаемости. Корневая система обрабатывается гидрогелем — полимером, удерживающим влагу. Он обволакивает корни, создавая защитный слой, который не только сохраняет влагу, но и предотвращает механические повреждения при транспортировке.

                .seotext-block__all: span Читать далее