@use "../../styles/vars";

.cookies {
    background: var(--white);
    border-radius: 16px;
    box-shadow: 0 4px 16px 0 #0000001F;
    padding: 24px;
    display: flex;
    gap: 32px;
    max-width: 1140px;
    @include vars.before('lg') {
        flex-direction: column;
    }

    &-wrp {
        position: fixed;
        z-index: 500;
        bottom: 16px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding-inline: var(--container-padding);
        &.hide {
            display: none;
        }
    }

    &__text {
        font: 400 18px/28px vars.$font-default;
        letter-spacing: .02em;
    }

    a {
        color: var(--accent-11);
        cursor: pointer;
        @include vars.hover {
            text-decoration: underline;
        }
    }

    .btn {
        flex-shrink: 0;
        padding-inline: 32px;
    }
}
