@use "../../../../styles/vars";

footer {
    background-color: var(--bg-01);
}

.footer {

    padding: 20px 0;
    color: var(--accent-02);

    &__catalog {
        display: none;
        border-bottom: 1px solid var(--border-02);

        @media screen and (min-width: vars.$w1200) {
            display: block;
            padding: 32px 0 45px;
            margin-bottom: 50px;

            & .footer {
                &__row {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -12px;
                }

                &__col {
                    width: 33.33%;
                    padding: 12px 12px;
                }
            }
        }
    }

    &__logo {

        padding-bottom: 16px;

        & .bgimage {
            width: 224px;
            height: 64px;
            display: block;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }
    }

    &__sl {
        color: var(--accent-04);
        @include vars.font-14;
        padding-bottom: 23px;

        @media screen and (min-width: vars.$w1200) {
            font-size: 16px;
        }
    }

    &__email {
        & a {
            color: var(--accent-02);
            font-weight: 600;

            &:hover {
                color: var(--accent-03);
                text-decoration: underline;
            }
        }
    }

    &__address {
        color: var(--accent-02);
        padding: 12px 0;
    }

    &__phones {
        padding: 20px 0 18px 0;

        @media screen and (min-width: vars.$w1200) {
            padding: 0;
        }

        & li {
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }

            & a {
                @include vars.font-h4;
                color: var(--accent-02);

                &:hover {
                    color: var(--accent-03);
                }
            }
        }
    }

    &__worktime {
        color: var(--accent-04);
    }



    &__contacts {
        border-bottom: 1px solid var(--border-02);
        padding-bottom: 16px;

        @media screen and (min-width: vars.$w760) and (max-width: vars.$w1200) {
            & .footer {
                &__row {

                    display: flex;
                    flex-wrap: wrap;
                    gap: 0 24px
                }

                &__col {

                    &:nth-child(1) {
                        width: 100%;
                    }

                    &:nth-child(2) {
                        margin-right: auto;
                    }
                }

                &__phone {
                    padding: 0;
                }

                &__msgr {

                    @media screen and (min-width: vars.$w1200) {
                        margin-top: 16px;
                    }

                    & ul {
                        margin-left: auto;
                    }
                }
            }
        }

        @media screen and (min-width: vars.$w1200) {
            & .footer {
                &__row {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -12px;
                }

                &__col {
                    width: 33.33%;
                    padding: 12px 12px;
                }
            }
        }
    }

    &__msgr {

        display: flex;
        align-items: center;
        margin-left: auto;

        @media screen and (min-width: vars.$w576) {
            margin-left: 0;
        }

        & ul {
            display: flex;
            align-items: center;
            gap: 8px
        }

        & .bgimage {
            @include vars.bgimage-contain;
            width: 32px;
            min-width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--accent-02);
            transition: 0.4s ease;
        }
    }

    &__bottom {
        padding-top: 22px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__copyright {
        color: var(--accent-04);
        width: 100%;

        @media screen and (min-width: vars.$w992) {
            width: calc(33.33% - 8px);
        }
    }

    &__policy {
        width: calc(50% - 6px);

        @media screen and (min-width: vars.$w992) {
            width: calc(33.33% - 8px);
        }

        & a {
            text-decoration: underline;

            &:hover {
                color: var(--accent-03);
            }
        }
    }

    &__develop {
        width: calc(50% - 6px);
        text-align: right;

        @media screen and (min-width: vars.$w992) {
            width: calc(33.33% - 8px);
        }

        & a {
            text-decoration: underline;
            color: var(--accent-03);

            &:hover {
                color: var(--accent-04);
            }
        }
    }
}



.footer-category {

    color: var(--accent-02);

    &__head {
        @include vars.font-20;
        padding-bottom: 12px;
    }

    &__list {
        & ul {
            & li {
                padding: 8px 0;
            }
        }
    }

    &__all {
        padding-top: 7px;

        & a {
            font-weight: 600;
            color: var(--accent-02);
        }
    }
}
