@use "../../../../styles/vars";

.section-page-404 {
    margin-top: 64px;
    background-image: url(/img/404.jpg);
    background-color: rgba(255,255,255,.3);
    background-blend-mode: lighten;
    background-size: contain;
    background-repeat: no-repeat;

    @include vars.before('md') {
        background-position: top;
        padding-top: 60vw;
        margin-bottom: 32px;
    }

    @include vars.from('md') {
        background-position: right;
        margin-bottom: 62px;
    }
}

.page-404 {

    @include vars.from('md') {
        display: flex;
    }


    .subtitle {
        color: var(--text-2);
    }

    .body-16-reg {
        font: 400 clamp(14px, 3.5vw, 16px)/1.75 vars.$font-default;
        letter-spacing: .02em;
    }
    .body-18-reg {
        font: 400 clamp(16px, 4vw, 18px)/1.67 vars.$font-default;
        letter-spacing: .02em;
    }
    .body-16-24-reg {
        font: 400 clamp(14px, 3.5vw, 16px)/1.5 vars.$font-default;
        letter-spacing: .02em;
        margin-bottom: 8px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include vars.from('md') {
            gap: 64px;
            margin-block: 92px;
            flex-basis: 50%;
        }
    }

    .btn-wrapper {
        display: flex;
        gap: 12px;
        margin-top: 16px;
        @include vars.before('md') {
            flex-direction: column;
        }
    }

    .btn-green {
        padding-inline: 29px;
    }

    .btn-line {
        padding-inline: 28px;
    }

    .super-link {
        margin-top: 8px;
        font: 400 36px/48px vars.$font-captions;
        letter-spacing: .04em;
        color: var(--accent-21);
        @include vars.hover {
            color: var(--accent-22);
        }
    }

    &__footer {
        .body-18-reg {
            line-height: 24px;
            margin-bottom: 10px;
        }
    }

    &-dark-bg {
        background: var(--bg);
        padding-bottom: 96px;
        border-bottom: 1px solid var(--accent-13);
    }
}
