@use "../../../styles/vars";

.breadcrumbs {
    display: flex;
    margin-top: 48px;

    a, span {
        white-space: nowrap;
        font: 600 14px/20px var(--font-wix);
        color: inherit;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        padding: 0 5px;
        transition: 0.3s ease;
    }
    a{
        border-radius: 8px;
        &:hover{
            transition: 0.3s ease;
            &:before{
                bottom: 1px!important;
                height: calc(100% - 2px)!important;
            }
            color: var(--accent-03);
            svg{
                fill: var(--accent-03);
            }
        }
    }

    li {
        color: var(--accent-02);
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 10px;
        svg{
            width: 12px;
            height: 12px;
            position: relative;
            z-index: 1;
        }
        &:not(:last-child) {
            transition: 0.3s ease;
            a{
                p{
                    padding: 0;
                    margin: 0;
                    position: relative;
                    z-index: 1;
                }
                &:before{
                    transition: 0.3s ease;
                    content: "";
                    width: 100%;
                    height: 2px;
                    border-radius: 8px;
                    background-color: var(--bg-02);
                    left: 0;
                    bottom: -2px;
                    z-index: 0;
                    position: absolute;
                }
            }

        }

        &:last-child {
            color: var(--accent-03);
            margin-right: 0;
        }
    }
}
