@use "../../../styles/vars";

.breadcrumbs {
    display: flex;
    overflow: auto;
    margin-inline: var(--container-out);
    padding-inline: var(--container-padding) ;

    a, span {
        white-space: nowrap;
        font: 400 14px/20px vars.$font-default;
        color: inherit;
        line-height: 24px;
        @include vars.from('md') {
            font: 400 16px/1.5 vars.$font-default;
            letter-spacing: .02em;
        }
    }

    li {
        color: vars.$color-accent-11;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            &:after {
                content: "";
                width: 4px;
                height: 4px;
                background-color: var(--accent-21);
                border-radius: 50%;
                margin-inline: 16px;
                margin-bottom: .15em;
            }
        }

        &:last-child {
            color: vars.$color-text-1;
        }
    }
}
