@use 'vars'as vars;

.sectionAboutUsPhoto {
    padding-bottom: 32px;
    .best-offers__tabs {
        margin-bottom: 12px;
    }
    .best-offers__bottom{
        @media screen and (min-width: vars.$w760) and (max-width: vars.$w769) {
            gap: 18px;
            &>div{
                width: calc(50% - 9px);
                .btn{
                    width: 100%;
                }
            }
        }


    }
    @media screen and (min-width: vars.$w992) {
        .best-offers__bottom{
            .btn{
                width: 458px;
            }
        }
    }
    @media screen and (min-width: vars.$w760) {
        padding-bottom: 76px;
    }
    &__h1 {
        & h1 {
            @include vars.font-h1;
            color: var(--accent-02);
        }
    }
    &__image {
        background-color: var(--bg-01);
        border-radius: 24px;

        @media screen and (min-width: vars.$w480) {
            border-radius: 32px;
        }

        & picture {
            @include vars.picture(128%, cover);
        }

        & img {
            border-radius: 16px;

            @media screen and (min-width: vars.$w480) {
                border-radius: 24px;
            }
        }
    }
}
