@use 'vars'as vars;

.sectionCatalogFirst{
    padding-bottom: 25px;
    @media screen and (min-width: vars.$w992) {
        padding-bottom: 100px;
    }
    &__h1{
        padding-bottom: 12px;
        @media screen and (min-width: vars.$w992) {
            padding-bottom: 24px;
        }
    }
    &__content{
        margin: -4px;
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        &_item{
            padding: 4px;
            flex-basis: 280px;
            flex-grow: 1;
        }
    }
}
