@use "vars";

.btn {
    padding: 0.8em 1.5em 0.85em 1.5em;
    color: var(--accent-02);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: 50px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background-color: var(--accent);
    border-radius: 16px;
    letter-spacing: .02em;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
    line-height: 140%;

    @media screen and (min-width: vars.$w1200) {
        height: 56px;
        font-size: 16px;

        & svg {
            width: 20px;
            height: 20px;
        }
    }



    & span,
    & svg {
        position: relative;
        z-index: 2;
        transition: 0.3s ease;
    }

    &:hover {
        @media (any-hover: hover) {
            background-color: var(--accent-02);
            color: var(--accent);

            & svg {
                fill: var(--accent);
            }
        }
    }

    &:active {
        opacity: 0.8;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
        color: rgba(0, 0, 0, 0.40);
        cursor: not-allowed;
        opacity: 1;

        &:hover {
            @media (any-hover: hover) {
                opacity: 0.9;
            }
        }
    }

    & svg {
        fill: var(--accent-02);
        min-width: 24px;

        &:not(:last-child) {
            margin-right: 0.4em;

            @media screen and (min-width: vars.$w1440) {
                margin-right: 0.4em;
            }
        }

        &:last-child {
            margin-left: 1em;

            @media screen and (min-width: vars.$w1440) {
                margin-left: 0.4em;
            }
        }
    }

    & span {
        margin-top: 1px;
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-small {
        height: 43px;
        font-size: 15px;
        padding: .7em 1.5em .8em 1.5em;
        font-weight: 500;
    }

    &.btn-wide {
        width: 100%;
    }

    &.btn-xsmall {
        height: 32px;
        font-size: 14px;
        padding: 0.4em 2.5em 0.5em 2.5em;
        font-weight: 500;
    }

    &.btn-loading {

        pointer-events: none;

        &::after {
            content: '';
            width: 0.8em;
            min-width: 0.8em;
            height: 0.8em;
            border: 2px solid #fff;
            border-radius: 50%;
            border-left-color: transparent !important;
            margin-left: 10px;
            transition: transform 0.5s linear;
            animation: 0.5s linear loadingrotate infinite;
            display: inline-block;
            white-space: nowrap;
            flex-wrap: nowrap;
            position: relative;
            left: 5px;
        }
    }

    &.btn-success {
        &::after {
            content: '';
            width: 15px;
            height: 9px;
            border: 2px solid #fff;
            animation: none;
            min-width: 12px;
            display: inline-block;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg) translateX(4px);
            margin-left: 10px;
            position: relative;
            left: 5px;
        }
    }

    &[disabled] {
        opacity: 0.9;
        cursor: not-allowed;
    }

}





@keyframes loadingrotate {
    to {
        transform: rotate(360deg);
    }
}

.buttons-group {
    display: flex;

    .btn {
        width: 100%;
        font: 500 16px/1.5 vars.$font-default;

        @include vars.before('md') {
            background: var(--accent-11);
        }

        @include vars.from('md') {
            background: var(--accent-12);
            color: var(--text-2);
            font: 500 18px/28px vars.$font-default;
            height: 56px;
            padding-inline: 25px;

            &:hover {
                color: var(--text-1);
            }

            &:before {
                background: var(--accent-13);
            }
        }

        @include vars.from('xl') {
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &.active {
            background: var(--accent-11);
            color: var(--white);
        }
    }
}
