@use 'vars'as vars;



.splide {

    &__arrow {
        width: 36px;
        height: 36px;
        background-color: var(--accent);
        opacity: 1;
        box-shadow: 0px 4px 9px 0px #00000012;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 0.3s ease;
        transition-property: background;

        @media screen and (min-width: vars.$w576) {
            width: 56px;
            height: 56px;
        }

        & svg {
            width: 34px;
            height: 34px;
            opacity: 1;
            fill: var(--accent-02);
            transition: 0.3s ease;
            transition-property: fill;

            @media screen and (min-width: vars.$w576) {
                width: 38px;
                height: 38px;
            }
        }

        &:hover {
            &:not(:disabled) {
                background-color: var(--accent-02);
                opacity: 1;

                & svg {
                    fill: var(--accent);
                }
            }
        }

        &:disabled {

            opacity: 0.7;
            box-shadow: none;
            background-color: #D3DBE1;
            cursor: default;

            & svg {
                fill: #444;

            }
        }



    }

    &__pagination {
        position: relative;
        padding: 24px 0;

        &__page {
            background: var(--text-3);
            height: 6px;
            width: 6px;
            margin: 0 6px;

            &.is-active {
                background: var(--accent-11);
                transform: scale(2);
            }
        }
    }
}


.is-dynamic-pagination .splide__pagination {
    white-space: nowrap;
    flex-wrap: nowrap;
    width: 95px;
    overflow: hidden;
    margin: 0 auto;
    justify-content: flex-start;
    scrollbar-width: none !important;
}
