@use "../../../styles/vars";
@use "../../../styles/helpers/functions";

.yt-video,
.video {
    margin: 0 auto;
    position: relative;
    background: #ccc;
    overflow: hidden;
    overflow: hidden;

    &.is-play {
        & .video {
            &__source {
                z-index: 4;
            }
        }

        & .yt-video {
            &__iframe {
                z-index: 4;
                display: block;
                border-radius: 6px;
                overflow: hidden;
            }
        }
    }

    &.is-pause {
        & .video {
            &__source {
                z-index: 2;
            }
        }
    }


    & iframe {
        border: none;
        position: relative;
        z-index: 2;
    }

    &.play {

        position: relative;

        @keyframes load {
            from {
                transform: rotate(0);
            }

            to {
                transform: rotate(360deg);
            }
        }

        &::before {
            content: '';
            width: 36px;
            min-width: 36px;
            height: 36px;
            border: 5px solid #fff;
            display: block;
            border-radius: 50%;
            border-left: 5px solid transparent;
            animation: load 0.8s infinite linear;
            margin: 0 auto;
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            margin-left: -18px;
            margin-top: -18px;



            @media screen and (min-width: vars.$w576) {
                width: 50px;
                min-width: 50px;
                height: 50px;
                margin-left: -25px;
                margin-top: -25px;
            }

        }

        & .video__preview,
        & .video__action {
            display: none;
        }
    }

    &__preview {

        position: relative;
        z-index: 2;

        & picture {
            padding-top: 55.9%;
            display: block;
            position: relative;

            & img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                color: transparent;
                margin: 0;
            }

        }
    }

    &__action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease;
        z-index: 3;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }


        @media screen and (min-width: vars.$w760) {
            padding: 24px;

        }


    }

    &__title {

        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        max-width: functions.rem_(400);
        margin: 0 auto;
        line-height: 140%;

        @media screen and (min-width: vars.$w760) {
            font-size: 28px;
        }


    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        width: 65px;
        height: 65px;
        border-radius: 50%;

        & span {
            display: none;
        }

        &:hover {
            opacity: 0.9;
        }

        & a {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }



        & span {
            color: #FFFFFF;
            font-size: 16px;
            text-decoration: underline;
        }

        & svg {

            width: 100%;
            height: 100%;
            transition: 0.3s ease;

            &:hover {
                opacity: 1;
            }

        }
    }

    &__source {
        @include vars.layer(1);

        & video {
            width: 100%;
            height: 100%;
            background-color: #000;

        }
    }

    &__iframe {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: none;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }
}