@keyframes max-height-animation {
    0% {
        max-height: 0;
        opacity: 0;
    }

    99% {
        max-height: 100vh;
        opacity: 1;
    }

    100% {
        max-height: none !important;
    }
}
