@use 'vars'as vars;

.video-responsive {

    position: relative;
    padding-top: 58%;

    & video {
        display: block;
        @include vars.layer(1);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
