@use 'vars'as vars;


.first-block {

    padding-top: 16px;
    padding-bottom: 32px;

    @media screen and (min-width: vars.$w992) {
        display: flex;
        gap: 32px;
        padding: 48px 0;
    }

    &__left {

        padding-bottom: 24px;

        @media screen and (min-width: vars.$w992) {
            width: calc(50% + 0px);
            padding-bottom: 0;
        }
    }

    &__right {



        @media screen and (min-width: vars.$w992) {
            width: calc(50% - 0px);
        }
    }

    &__h1 {
        & h1 {
            @include vars.font-h1;
            color: var(--accent-02);
            margin-bottom: 9px;
            margin-top: 0;
        }
    }

    &__desc {
        padding-bottom: 10px;
        @include vars.font-16;
        font-weight: 600;
        color: var(--accent-02);

        @media screen and (min-width: vars.$w1440) {
            font-size: 18px;
        }
    }

    &__video {
        margin-top: 5px;

        & video {
            outline: 5px solid var(--accent);
            border: 5px solid var(--accent-02);
            border-radius: 32px;
        }
    }

    &__digits {
        display: none;

        @media screen and (min-width: vars.$w760) {
            display: block;
        }
    }

    &__widget {
        display: none;

        @media screen and (min-width: vars.$w760) {
            display: block;
        }
    }

    &__buttons {

        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media screen and (min-width: vars.$w576) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        & div {
            width: 100%;
        }

        & .btn {
            width: 100%;
        }
    }

    &__cat {
        @media screen and (min-width: vars.$w1440) {
            display: none;
        }
    }

    &__call {
        & .btn {
            @media screen and (min-width: vars.$w1200) {
                height: 68px;
                font-size: 18px;
            }

            @media screen and (min-width: vars.$w1440) {
                height: 104px;
                font-size: 32px;
                border-radius: 32px;
            }
        }
    }

    &__digits {
        padding: 24px 0;


    }

    &__widget {
        padding: 24px 0;

        @media screen and (min-width: vars.$w1200) {
            padding: 20px 0 28px;
        }
    }
}

.video-responsive {
    position: relative;
    padding-top: 70%;

    @media screen and (min-width: vars.$w576) {
        padding-top: 58%;
    }

    & video {
        display: block;
        @include vars.layer(1);
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



.first-digits {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    color: var(--accent-03);

    &__item {
        width: 33.33%;
        padding: 12px;
    }

    &__label {
        @include vars.font-h3;

        @media screen and (min-width: vars.$w992) and (max-width: vars.$w1440) {
            font-size: 24px;
        }

        & span {
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                height: 8px;
                background-color: rgba(173, 235, 103, 0.30);
                display: block;
                position: absolute;
                bottom: 5px;
                left: 0;
                width: calc(100% + 10px);
                z-index: -1;
            }
        }
    }

    &__desc {
        @include vars.font-16;
        color: var(--accent-02);

        @media screen and (min-width: vars.$w992) and (max-width: vars.$w1440) {
            font-size: 14px;
        }
    }
}


.catalog-widjet {
    background: var(--bg-02);
    padding: 16px;
    display: flex;
    gap: 24px;
    padding-left: 32px;
    border-radius: 32px;
    align-items: center;

    &__image {

        width: 34%;

        & img {
            border-radius: 12px;

            @media screen and (min-width: vars.$w1200) {
                border-radius: 24px;
            }
        }
    }

    &__main {
        width: 66%;
    }

    &__title {
        @include vars.font-h4;
        color: var(--accent-02);
        padding-bottom: 12px
    }

    &__desc {
        @include vars.font-16;
        color: var(--accent-04);
    }
}
