mixin catalog-widjet
    .catalog-widjet
        .catalog-widjet__main
            .catalog-widjet__title Каталог саженцев и растений
            .catalog-widjet__desc Благодаря широкому выбору вы всегда сможете выбрать достойное решение для реализации любой задумки
        .catalog-widjet__image
            +picture('/')

mixin first-block
    section.section-first-block
        .container
            .first-block
                .first-block__left
                    .first-block__video
                    .first-block__digits
                        .first-digits
                            .first-digits__item
                                .first-digits__label 29 лет
                                .first-digits__desc опыта работы в сфере питомников растений
                            .first-digits__item
                                .first-digits__label 70 га
                                .first-digits__desc земельный угодий во владении хозяйства
                            .first-digits__item
                                .first-digits__label Более 300
                                .first-digits__desc видов саженцев и растений выращиваем
                .first-block__right
                    .first-block__h1: h1 Питомник растений «Зелёный рай»
                    .first-block__desc Хвойные деревья и растения, лиственные деревья и кустарники, туи, плодовые растения ОПТОМ в нашем питомнике!
                    .first-block__widget
                        +catalog-widjet
                    .first-block__buttons
                        .first-block__call: button.btn Связаться с нами
