@use "../vars";

/* common styles */

.splide__arrow {
    width: 36px;
    height: 36px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0px 4px 9px 0px #00000012;
    display: flex;

    @media screen and (min-width: vars.$w576) {
        width: 40px;
        height: 40px;
    }

    &:disabled {

        opacity: 0.7;
        box-shadow: none;
        background-color: #D3DBE1;
        cursor: default;

        & svg {
            fill: #444;

        }
    }

    & svg {
        width: 34px;
        height: 34px;
        opacity: 1;
        fill: var(--accent);

        @media screen and (min-width: vars.$w576) {
            width: 38px;
            height: 38px;
        }
    }

}

.splide {
    & &__pagination {
        position: relative;
        padding: 24px 0;
        &__page {
            background: var(--text-3);
            height: 6px;
            width: 6px;
            margin: 0 6px;
            &.is-active {
                background: var(--accent-11);
                transform: scale(2);
            }
        }
    }
}


#status {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 14px 10px 14px;
    background: transparent;
    min-width: 300px;
    transform: translateY(50%);
    transition: 0.3s ease;
    color: #fff;
    z-index: 100000;
    max-width: 360px;
    visibility: hidden;
    border-radius: 8px;
    flex-wrap: wrap;
    opacity: 0;
    right: 20px;

}

#status_header {
    font-weight: 500;
    font-size: 15px;
    padding: 2px 4px;
}

#status_msg {
    line-height: 140%;
    padding: 2px 4px;
    font-size: 14px;
}

#status.error {

    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: vars.$red;
    opacity: 1;

}

#status.warning {
    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: vars.$orange;
    opacity: 1;
}

#status.complete {
    transform: translateY(0);
    height: auto;
    visibility: visible;
    background-color: vars.$green;
    opacity: 1;
}

#status.error #status_header {
    color: #fff;
}

#status.warning #status_header {
    color: #fff
}

#status.complete #status_header {
    color: #fff
}

#status_msg a {
    color: #fff;
    text-decoration: underline;
}

#status_btn {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.681818 0L15 14.3182L14.3182 15L1.62748e-08 0.681818L0.681818 0Z' fill='%23FFFFFF'/%3E%3Cpath d='M15 0.681818L0.681818 15L0 14.3182L14.3182 6.09593e-07L15 0.681818Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 13px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 0.6;
}

#status_btn {
    opacity: 1;
}

.player-embed {
    width: 130vh;
    background-color: var(--black);
    margin: -10px;
    max-width: calc(100% + 20px);

    &__iframe {
        padding-top: 60%;
        background: var(--black);
        position: relative;
        max-width: 100%;

        & iframe {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            top: 0;
            border: none;
        }

    }

    &__video {
        padding-top: 60%;
        background: var(--black);
        position: relative;
        max-width: 100%;

        & video {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            top: 0;
            border: none;
        }

    }

    &__desc {
        color: #fff;
        padding: 15px 17px;
    }
}

span[data-prop-tooltip] {
    opacity: 1;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.tooltip-box-item {
    position: fixed;
    background-color: #3A3A3A;
    width: auto;
    max-width: 360px;
    padding: 9px 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    z-index: 50;
    border-radius: 8px;
    color: #fff;
    animation: fade-in 0.3s ease forwards;
    opacity: 1;
    -webkit-column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
    font-size: 13px;
    line-height: 140%;
}

span[data-color=ffffff],
span[data-color=fff] {
    background-color: #eee !important;
}

.bottom-question {
    position: fixed;
    top: 50%;
    right: -45px;
    transform: rotate(-90deg);
    z-index: 10;
    display: none;

    @media screen and (min-width: vars.$w760) {
        display: block;
    }

    @media (orientation: landscape) and (max-width: vars.$w992) {
        display: none;
    }


}

.bottom-question .btn {
    background-color: #8d8d8d;
    height: 44px;
    font-size: 15px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.bottom-question .btn:hover {
    background-color: var(--accent);
}

.page {
    &__back {

        padding-bottom: 4px;

        @media screen and (min-width: vars.$w992) {
            padding-bottom: 16px;
        }

        @media screen and (min-width: vars.$w1440) {
            padding-bottom: 12px;
        }

        & a {
            display: flex;
            align-items: center;

        }

        & svg {
            width: 36px;
            height: 36px;
            fill: var(--accent);
            margin-left: -15px;
        }

        & span {
            font-weight: 500;

            &:hover {
                color: var(--accent);
            }
        }
    }

    &__title {

        padding-bottom: 30px;

        @media screen and (min-width: vars.$w1440) {
            padding-bottom: 16px;

        }

        & h1 {
            margin: 0;
            @include vars.font-h1;
        }

        &--cart {
            padding-bottom: 16px;

            @media screen and (min-width: vars.$w760) {
                padding-top: 18px;
                padding-bottom: 28px;
            }

            @media screen and (min-width: vars.$w1440) {
                padding-top: 0;
                padding-bottom: 26px;
            }
        }
    }

    &__breadcrumbs {

        @media screen and (min-width: vars.$w1440) {
            margin-top: 0;
            padding-bottom: 8px;
        }

        @media screen and (min-width: vars.$w760) {
            margin-bottom: -5px;
        }
    }

    &__desc {
        font-size: 16px;
        padding-bottom: 16px;
        font-weight: 500;
    }





}

.suggest-list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: auto;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #e9e9e9;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    color: #000;
    min-width: 100%;
    width: 100%;
    max-height: 300px;
    @include vars.scrollbar();

    & li {
        margin: 0;
        padding: 0.75rem 15px;
        border-top: 1px solid #ececec;
        transition: all 0.15s ease-in;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:first-child {
            border-top: none;
        }

        &.active,
        &:hover {
            background-color: #eee;
        }
    }
}

.splide {
    &__pagination {
        &__page {
            width: 6px;
            height: 6px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: var(--text-3);

            &.is-active {
                transform: scale(2);
                background-color: var(--accent-11);
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background: var(--accent);
    color: white;
    cursor: pointer;
    transition: background-color .3s, opacity 1s;
    visibility: hidden;
    opacity: 0;
    z-index: vars.$z-header;

    &:hover {
        background-color: var(--accent-11);
    }

    svg {
        transform: rotate(90deg);
    }

    @include vars.from('xl') {
        .scrolled &{
            visibility: visible;
            opacity: 1;
        }
    }
}


.is-dynamic-pagination .splide__pagination {
	white-space: nowrap;
	flex-wrap: nowrap;
	width: 95px;
	overflow: hidden;
	margin: 0 auto;
    justify-content: flex-start;
    scrollbar-width: none !important;
}