@use "../vars";

:root {
    --font-guardian: 'Guardian Egyptian LCG';
    --font-wix: 'Wix Madefor Text';


    --white: #ffffff;
    --accent: #aeeb67;
    --accent-01: #aeeb67;
    --accent-02: #20330a;
    --accent-03: #417a00;
    --accent-04: #687a53;
    --bg-01: #f8faf5;
    --bg-02: #eff7e6;
    --border-01: #e1f2cb;
    --border-02: #cde0b4;
    --red-01: #b81616;
    --red-02: #e03636;

    --container-padding: 16px;
    --container-out: -16px;

    @media screen and (min-width: vars.$w480) {
        --container-padding: 16px;
        --container-out: -16px;
    }

    @media screen and (min-width: vars.$w576) {
        --container-padding: 24px;
        --container-out: -24px;
    }

    @media screen and (min-width: vars.$w760) {
        --container-padding: 30px;
        --container-out: -30px;
    }

    @media screen and (min-width: vars.$w992) {
        --container-padding: 40px;
        --container-out: -40px;
    }

    @media screen and (min-width: vars.$w1200) {
        --container-padding: 40px;
        --container-out: -40px;
    }

    @media screen and (min-width: vars.$w1440) {
        --container-padding: 40px;
        --container-out: -40px;
    }
}




html,
body {

    font-family: var(--font-wix);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #111;
    letter-spacing: normal;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    height: -webkit-fill-available;
    -moz-scrollbar-color: #333 #fff;
    -moz-scrollbar-width: thin;
    scrollbar-gutter: stable;
    background-color: #fff;

    @media screen and (min-width: vars.$w1510) {
        font-size: 16px;
    }

    @include vars.scrollbar();
}

html * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: max-content;
    /* fix with Chrome position sticky */

    & * {
        @include vars.scrollbar();
    }
}


button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

h1 {
    @include vars.font-h1
}

h2 {
    @include vars.font-h2
}

h3 {
    @include vars.font-h3
}

body.page-hidden-ts,
body.page-hidden {
    touch-action: none;
    overflow: hidden !important;
    overscroll-behavior-y: none;
}

img,
picture,
svg {
    display: block;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #111;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}


div.hidden {
    display: none;
}

.hide {
    display: none;
}

section {
    overflow: hidden;
    position: relative;
}

main {
    width: 100%;
    min-height: 70vh;
    background-color: #fff;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
    background-color: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 95%;
    cursor: pointer;
}

input[type="date"] {
    position: relative;
}

.dragscroll.dragging {
    pointer-events: none;
}


@mixin container-breakpoint {
    min-width: 316px;

    @media screen and (min-width: vars.$w480) {
        max-width: 100%;
    }

    @media screen and (min-width: vars.$w576) {
        max-width: 100%;
    }

    @media screen and (min-width: vars.$w760) {
        max-width: 100%;
    }

    @media screen and (min-width: vars.$w992) {
        max-width: 100%;
    }

    @media screen and (min-width: vars.$w1200) {
        max-width: 100%;
    }

    @media screen and (min-width: vars.$w1440) {
        max-width: 1488px;
    }
}

.hide-from-md {
    @include vars.from('md') {
        display: none;
    }
}

.hide-from-xl {
    @include vars.from('xl') {
        display: none;
    }
}

.hide-before-md {
    @include vars.before('md') {
        display: none !important;
    }
}

.hide-before-lg {
    @include vars.before('lg') {
        display: none !important;
    }
}

.hide-before-xl {
    @include vars.before('xl') {
        display: none !important;
    }
}


.container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: var(--container-padding);
    @include container-breakpoint;
}


/* =========================================== */
/* =========================================== */


.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.overflow--hidden {
    overflow: hidden !important;
}

.overflow--hidden-fixed {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overflow--hidden-scrollBar {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

.safari-fixed {
    height: calc(100vh - 1px);
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.table-responsive {
    overflow-x: auto;

    & table {
        min-width: auto;
    }
}

.lazyload {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.ymap-static {
    // для карты необходим фиксированный размер. можно переопределить в компонентах
    width: 100%;
    height: 400px;
}

.static-map-marker {
    width: 60px;
    height: 68px;
    background: url("/img/svg/ic_pin.svg");
    transform: translate(-50%, -100%);
}

.ymaps3x0--controls {
    z-index: 20 !important;
}

.no-hover {
    pointer-events: none !important;
}

.text-right-from-xl {
    @include vars.from('xl') {
        text-align: right;
    }
}

[data-case]:not(.active) {
    display: none;
}
