@use "../vars";

.seo-text {
    h3 {
        font: 400 24px/36px vars.$font-captions;
        margin-block: 24px 12px;

        @include vars.from('md') {
            font: 400 36px/48px vars.$font-captions;
            margin-block: 40px 16px;
        }
    }

    p {
        font: 400 14px/20px vars.$font-default;
        letter-spacing: .02em;
        margin-block: 8px;

        @include vars.from('md') {
            font: 400 16px/1.5 vars.$font-default;
            margin-block: 12px;
        }
    }

    ul {
        list-style: inside url("data:image/svg+xml,%3Csvg%20width=%223%22%20height=%226%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%0A%3Crect%20x=%220%22%20y=%220%22%20width=%223%22%20height=%223%22%20fill=%22currentColor%22%20/%3E%0A%3C/svg%3E");
    }

    ol {
        list-style: decimal inside;
    }

}
